/* #container {
  width: 100%;
  height: 400px;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 7px;
  touch-action: none;
}
#item {
  width: 100px;
  height: 100px;
  background-color: rgb(245, 230, 99);
  border: 10px solid rgba(136, 136, 136, .5);
  border-radius: 50%;
  touch-action: none;
  user-select: none;
}
#item:active {
  background-color: rgba(168, 218, 220, 1.00);
}
#item:hover {
  cursor: pointer;
  border-width: 20px;
} */

@import url("https://use.typekit.net/eed3tbt.css");
body {
background-color: cadetblue;
height: 100vh;
width: 100vw;
touch-action: none;
margin: 0;
}


/* #container {
  position: relative;
  width: 100%;
  height: 92vh;
  background-color: #5f9ea0;
} */
.btn{
  position:absolute;
  vertical-align: middle;
  bottom: 5%;
  margin: auto;
  left: 40%;
}
.btn {
  position: absolute;
  left: 40%;
  margin: 0;
  bottom: 3%;
}

button {
  margin: 0;
  height: 8vh;
  bottom: 0;
  width: 220px;
}

#clearEmoji {
  z-index: 5;
  font-family: rooney-web, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
}


/* .emoji-box {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
} */

span {
    text-align: center;
    position: relative;
    user-select: none;
    font-size:15vw;
    margin: auto;
    padding-left:50px; 
    height: 50px;
    line-height: 50px;
    color: white;
    background-color: #aaa;
    cursor: move;
} 

/* description {
  text-align: center;
  position: relative;
  font-size: 3vw;
  font-family: 'hellofont-id-juejianghei', sans-serif;
  font-weight: 400;
  font-style: normal;
} */

p {
  margin: auto;
  text-align: center;
  width:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  color: white;
  font-size: 3rem;
  opacity:40%;
  padding-top:20px;
  z-index: 5;
  
  font-family: 'rooney-web', serif;
  font-weight: 700;
  font-style: normal;
}

.emoji-box{
  
  width: 100%;
  height: 400px;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 7px;
  touch-action: none;
}
.emoji-container {
  position: absolute;
 
  width: 100px;
  height: 100px;
  background-color: rgb(245, 230, 99);
  border: 10px solid rgba(136, 136, 136, .5);
  border-radius: 50%;
  touch-action: none;
  user-select: none;
}
/* .emoji-container:active {
  background-color: rgba(168, 218, 220, 1.00);
} */
.emoji-container:hover {
  cursor: pointer;
  border-width: 20px;
}

.emoji1{
  background-color: antiquewhite;
}
.emoji2{
  background-color: rgb(240, 164, 65);
}
.emoji3{
  background-color: rgb(24, 93, 139);
}
.emoji4{
  background-color: rgb(44, 185, 74);
}
.emoji5{
  background-color: rgb(211, 37, 133);
}
.emoji6{
  background-color: rgb(87, 104, 88);
}
.emoji7{
  background-color: rgb(199, 54, 54);
}

