body {
    background: #f06d06;
  }
  
  main {
    background: white;
    margin: 20px;
    padding: 10px;
  }
  .center {
    margin: 0 auto;
    width: 200px;
    background: black;
    padding: 20px;
    color: white;
  }
  
  
  
  
  
  