@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

body{
    background: linear-gradient(180deg, #FFFBF3 10%,#F9E3DA 70%);
    font-family: 'Yusei Magic', sans-serif;
    font-size: 20px;;
    color:#301B03;
    text-align: center;
}

.mom{
    position:fixed;
    width:200px;
    left:650px;
    top:10px;
    z-index: -1;
}

h1{
    font-size: 60px;
    margin-top:200px;
    margin-bottom: 0;
}

.subtitle{
    font-size: 20px;
    margin:0 auto;
    width:700px;
    text-align: center;
}

.arrow{
    width:40px;
    margin:60px;
}

.content{
    width:1400px;
    font-size: 31px;
    margin:50px auto;
}


.twitter-tweet{
    font-size: 31px;
    margin:0 auto;
}



.last-embed{
    margin-bottom: 50px;
}

.heart{
    width:100px;
    left:100px;
}