@import url('https://fonts.googleapis.com/css2?family=Rajdhani&family=Ramabhadra&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Raleway:wght@400;800&display=swap');

@font-face {
    font-family: "domaine";
    src: url("font/domaine-display-test-regular.woff") format("woff"); 
  }


h1{
    font-family: 'Raleway', serif;
    font-weight: 800;
    font-size:15vh;
    color:#ffffff;
    text-align: center;
    z-index: 2;
    margin-top:70px;
    /* margin-left:140px; */
    margin-bottom:0px;
}

/* h2{
    margin-top:70px;
    text-align: center;
    font-weight: 400;
    padding:0;
    font-family: 'Raleway', serif;
    font-size:3.5vh;
    letter-spacing: 3px;
    color:#ffffff;
    z-index: 2;
    transform: rotate(-90deg);
} */

h2{
    position: fixed;
    width: 200px;
    height: 100px;
    left: 200px;
    top: 20px;
    padding:0;
    
    font-weight: 400;
    padding:0;
    font-family: 'Raleway', serif;
    font-size:25px;
    letter-spacing: 3px;
    
    
    color: #FFFFFF;
    
    transform: rotate(-90deg);
}

.back-text{
    position: fixed;
    width: 793px;
    height: 219px;
    left: -120px;
    top: 280px;
    padding:0;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 180px;
    line-height: 0px;
    
    
    color: #FFFFFF;
    
    transform: rotate(-90deg);
}


body{
    background-color: #000000;
    margin:0;
    height:auto;
    max-height:190vh;
}

a{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    /* margin-left:70px; */
    text-align: center;
    font-size: 3vh;
    line-height: 50px;
    font-weight: 400;
    color: #ffffff;
    transition-duration: 0.4s;
    z-index: 2;
}

a:hover{
    border:2px solid #8a5fb3;
}

ul{
    padding:100px;
    width:100%;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

li{
    position: relative;
    align-items: center;
    list-style-type: none;
    /* margin-left:50px; */
    text-align: center;
    animation-name: fadeIn;
    animation-duration: .5s;
    z-index: 2;
    }
    
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
   

p{
    font-family: 'Raleway', serif;
    font-size: 4vh;
    letter-spacing: 1px;
    line-height: 70%;
    color: #b4b5b2;
    text-align: center;
    /* margin-left:440px; */
    transition-duration: 0.4s;
    cursor: pointer;
    z-index: 2;
}

#THESIS{
    margin-top:15vw;
}

#thesis-name, #website-name, #uiux-name, #core-2-studio-name, #core-2-lab-name, #core-1-studio-project-name, #more-name{
    margin-bottom:10px;
}

#thesis-project-container,  #website-project-container,#uiux-project-container, #core-2-studio-project-container, #core-2-lab-project-container, #core-1-studio-project-container{
    display: none;
}

#thesis-project-container.open{
    display:inline;
    z-index: 2;
}

#website-project-container.open{
    display:inline;
    z-index: 2;
}

#uiux-project-container.open{
    display:inline;
    z-index: 2;
}

#core-2-studio-project-container.open{
    display:inline;
    z-index: 2;
}

#core-2-lab-project-container.open{
    display:inline;
    z-index: 2;
}

#core-1-studio-project-container.open{
    display:inline;
    transition: 0.3s;
    z-index: 2;
}

#core-1-studio-project-container{
    width:auto;
    height:500px;
    margin-bottom: 20%;

}

/* span{
    position:absolute;
    padding-top:10px;
    padding-left: 10px;
    z-index: 2;
} */

.upwards-arrow{
    display: none;
    position:absolute;
    padding-top:0px;
    margin-top:-13px;
    z-index: 2;
}

p:hover{
    color:#c77fda;
}

.ball{
    position:absolute;
    border-radius:50%;
    width:5rem;
    height:5rem;
    background: radial-gradient(50% 50% at 50% 50%, #ffffff 0%, rgba(255, 242, 175, 0) 100%);
    opacity:.7;
    cursor:pointer;
    animation-name:twinkle;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    z-index: -1;
}

@keyframes twinkle{
    0% {opacity:.7;}
    50% {opacity:.1;}
    100%{opacity:.7;}
}

li a.active{
    color: transparent;
    text-shadow: 0 0 5px rgba(255,255,255,0.8);
}

.image{
    position:absolute;
    overflow: hidden;
    width:400px;
    height:250px;
    border-radius: 8px;
    z-index: 100;
    visibility: hidden;
    transform: scale(0.6);
    opacity: 0;
    transition: opacity 0.3s ease,
                transform 0.3s ease,
                visibility 0.3s ease;

}

.image.active{
    visibility: visible;
    transform: scale(1);
    opacity: 0.8;
}

.image img{
        position:absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
        width:0;
        height:0;
        max-width: 100%;
        min-width: 100%;
        max-height: 100%;
        min-height: 100%;
        object-fit: cover;
}


footer{
    font-family: 'Raleway', serif;
    font-size: 2vh;
    color:#ffffff;
    position:fixed;
    bottom:20px;
    left:50%;
    transform: translate(-50%,-50%);
    
}