@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lusitana&family=Michroma&family=Rubik+Mono+One&display=swap');

body{
    background-color:rgb(248, 184, 112);
    font-family: 'Jost',sans-serif;
}

h1{
    font-family: 'Lusitana',serif;
    color:rgb(51, 157, 206);
    font-size: 2em;
    text-align: center;
    background-color: aquamarine;
    margin:50px 600px;
}

.text1{
    font-family: 'Rubik Mono One',sans-serif;
    color: rgb(51, 157, 206);
    font-size:2em;
    text-align: center;
}

.text2{
    font-family: 'Rubik Mono One',sans-serif;
    color: rgb(51, 157, 206);
    font-size:2em;
    text-align: center;
}

a{
    font-size:5em;
    border: solid 6px rgb(88, 145, 230);
    color:rgb(88, 145, 230);
    text-shadow: 2px 2px #A6ABA2;
    transition-duration: 0.4s;  
}
.time{
    padding:20px;
}
div{
    text-align: center;
}

a:hover{
    color:aqua;
    border:solid 5px aqua;
}

video{
    display: block;
    margin:0 auto;
}