@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lusitana&family=Michroma&family=Rubik+Mono+One&display=swap');

body{
    background-color:rgb(147, 223, 166);
    font-family: 'Jost',sans-serif;
}

h1{
    font-family: 'Lusitana',serif;
    color:rgb(252, 140, 140);
    font-size: 2em;
}

.text1{
    font-family: 'Rubik Mono One',sans-serif;
    color: rgb(228, 113, 141);
    font-size:2em;
    text-align: center;
}

video{
    float: left;
}

.time{
    padding-top: 100px;
}

a{
    font-size:5em;
    border: solid 6px rgb(228, 113, 141);
    color:rgb(228, 113, 141);
    text-shadow: 2px 2px #A6ABA2;
    transition-duration: 0.4s;  
}

div{
    text-align: center;
}

a:hover{
    color:aqua;
    border:solid 5px aqua;
}
