html{
  background-color: black;
}
svg {
  display: block;
  width: 100%;
  height: auto;
}


path {
  animation: wave 1s linear infinite;
}

@keyframes wave {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
.wave-container {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.wave-container path {
  animation: wave 3s linear infinite;
}

@keyframes wave {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
