:root {
	--spacing: 2em;
}

body {
	padding: var(--spacing);
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	min-height: 200vh;
	font: 30px/1;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

#narrative {
	font-size: 150%;
	position: relative;
	text-align: left;
	max-width: 1350px;
	margin-bottom: 20px;
}

.wave-container {
    padding-top: 10px;
	padding-bottom: 10px;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 10px;
	padding-top:10px;
}

.box {
	position: relative; /* Add position property */
	background-color: #ddd;
	padding: 20px;
	font-size: 24px;
	text-align: center;
	transition: all 0.3s ease-in-out;
}

.box:hover {
	background-color: #555;
	color: #fff;
	cursor: pointer;
}

.box::before {
	content: attr(data-default);
	display: block;
}

.box:hover::before {
	content: attr(data-hover-text); /* Display data-hover-text on hover */
	position: absolute; /* Add position property */
	top: 100%; /* Position the text below the box */
	left: 50%; /* Center the text horizontally */
	transform: translateX(-50%); /* Center the text horizontally */
	background-color: #555;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
	font-size: 14px;
	width: max-content;
}
