
@font-face {
    font-family: "Chronicle";
    src: url("font/ChronicleTextG1-Roman.woff") format("woff");  
  }
  
  @font-face {
      font-family: "Landmark";
      src: url("font/Landmark-Regular.woff") format("woff");  
    }
  
  h1{
    position:fixed;
    font-size:20px;
    font-family: "Landmark",sans-serif;
    font-weight: 300;
    top:0px;
    left:1vw;
  }
  
    .text-container{
        margin:0 auto;
        width:1000px;
        height:2500px;
    }
  
    .first-paragraph{
      margin-top:100px;
    }

    p{
        margin-left:20px;
        font-family: 'Chronicle', serif;
        font-style: normal;
        font-weight: 325;
        font-size: 34px;
        line-height: 52px;
        width:1000px;
        color:black;
        animation-name: color;
        animation-duration: 5s;
    }
      
      @keyframes color {
        0%   {color: white;}
        50%  {color: rgb(94, 93, 93);}
        65%  {color: rgb(56, 56, 56);}
        80%  {color: rgb(37, 37, 37);}
        100% {color: rgb(0, 0, 0);}
      }

      pre{
        text-align: center;
      }
  
      .hidden{
        color:white;
        transition-duration: 0.2s;
    }
    
    .hidden:hover{
        background-color: black;
        font-size: 36px;
    }

    nav{
        position:fixed;
        top:100px;
        left:2vw;
        display: flex;
        position:fixed;
        flex-direction:column;
    }
  
    nav button{
      outline: none;
      border:none;
      background-color:transparent;
      font-size: 36px;
      font-family: 'Landmark', serif;
      font-weight: normal;
      margin:20px 30px;
      color:black;
      transition-duration: 0.2s;
    }
  
    nav button:hover{
      text-shadow: 2px 2px black;
  }
  
  .chapter2{
      color:white;
      background-color: black;
  }

a{
  color:black;
  margin-left:250px;
  font-size: 3em;
  font-family: 'Landmark', serif;
  text-decoration: none;
  animation-name: text;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  z-index: -1;  
}

a:hover{
  text-shadow: 2px 2px black;
}

@keyframes text {
0% {color: rgb(0, 0, 0); }
20% {color: rgb(107, 107, 107); }
40% {color: rgb(207, 207, 207); }
60% {color: rgb(158, 157, 157); }
80% {color: rgb(112, 112, 112); }
100% {color: rgb(0, 0, 0); }
}

.place-holder{
  width:100px;
  height:100px;
}

#link{
  font-size: 40px;
  font-family: "Landmark", sans-serif;
  transition-duration: 0.5s;
}

#link:hover{
  text-shadow: 2px 2px black;
}

#link1{
  display: none;
  font-size: 40px;
  font-family: "Landmark", sans-serif;
  transition-duration: 0.5s;
}

@media only screen and (max-width:360px){
  #link{
    display: none;
  }

  #link1{
    display: inline;
    font-size: 24px;
    text-decoration: underline solid black 1px;
  }

  #link1:hover{
    text-shadow: 2px 2px black;
  }

body{
  width:360px;
}

  h1{
    top:10px;
    left:4vw;
  }

  .text-container{
    width:360px;
    height:2700px;
    margin-top: 100px;
}

  p{
    margin: 0px auto;
    padding:0;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 20px;
    width:300px;
    font-weight: 325;
    font-size: 20px;
    line-height: 30px;
  }

  pre{
    font-size: 8px;
    margin:20px 0;
  }

  .hidden{
    color:white;
    border:2px dotted black;
    transition-duration: 0.2s;
    animation-name: text;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    
}

.hidden:hover{
  background-color: black;
  font-size: 20px;
}

@keyframes text {
  0% {border: 2px dotted rgb(0, 0, 0); }
  20% {border: 2px dotted rgb(107, 107, 107); }
  40% {border: 2px dotted rgb(207, 207, 207); }
  60% {border: 2px dotted rgb(158, 157, 157); }
  80% {border: 2px dotted rgb(112, 112, 112); }
  100% {border:2px dotted rgb(0, 0, 0); }
  }

#link{
  font-size: 24px;
  text-decoration: underline solid black 1px;
}

}