body{
    background-color: rgb(229, 252, 252);
    color:rgb(40, 63, 63);
    text-align: center;
}

.album-container{
    border:5px solid rgb(80, 216, 221);
    padding:2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height:350px;
    margin:30px;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
    padding-top:100px;
}

p{
    font-size: 1.5rem;
    padding-top:100px;
}

img{
    width:70%;
    height:auto;
    margin-top:20px;
}