@font-face {
    font-family: "Boutique";
    src: url("font/BoutiqueTRIAL-Regular.woff") format("woff");  
  }
  

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
  


body{
    background-color: #385663;
    color:#F6E0BD;
    font-family: 'Nunito', sans-serif;
    margin:0;
    padding:0;
}

ul{
  font-size: 1.5rem;
  display: flex;
  
  /* space-evenly/space-between/space-around/center */
}

li{
  list-style: none;
  
}

.year-nav{
    position:fixed;
    left:12.9%;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    color:#FF7676;
}

.location-nav{
    position:fixed;
    left:49.4%;
    transform: translateX(-49.5%);
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    color:#F6E0BD;

}

.location-nav:hover{
  text-shadow: 2px 2px 1px #FF7676;
}


.scale-nav{
    position:fixed;
    color:#F6E0BD;
    left: 82.1%;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}

.scale-nav:hover{
  text-shadow: 2px 2px 1px #FF7676;
}

.year-name{
  text-decoration: none;
  color:#F6E0BD;
  margin-left:20px;
}

.year-name:hover{
  color:#FF7676;
}

.no-map{
  opacity: .3;
  margin-left: 20px;
}

h1{
  font-size: 1.5rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
  position:fixed;
  bottom:10px;
  left:50%;
  transform: translateX(-50%);
  
  
}

.line1{
  position:fixed;
  background-color: #F6E0BD;
  width:1.5px;
  height:100%;
  z-index: 1;
  left:130px;
  top:0;
}

.line2{
  position:fixed;
  background-color: #F6E0BD;
  width:1.5px;
  height:100%;
  z-index: 1;
  left:310px;
  top:0;
}

.line3{
  position:fixed;
  background-color: #F6E0BD;
  width:1.5px;
  height:100%;
  z-index: 1;
  left:490px;
  top:0;
}

.line4{
  position:fixed;
  background-color: #F6E0BD;
  width:1.5px;
  height:100%;
  z-index: 1;
  left:670px;
  top:0;
}

.line5{
  position:fixed;
  background-color: #F6E0BD;
  width:1.5px;
  height:100%;
  z-index: 1;
  left:850px;
  top:0;
}

.line6{
  position:fixed;
  background-color: #F6E0BD;
  width:1.5px;
  height:100%;
  z-index: 1;
  left:1030px;
  top:0;
}

.line7{
  position:fixed;
  background-color: #F6E0BD;
  width:1.5px;
  height:100%;
  z-index: 1;
  left:1210px;
  top:0;
}

.line8{
  position:fixed;
  background-color: #F6E0BD;
  width:1.5px;
  height:100%;
  z-index: 1;
  left:1390px;
  top:0;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f1f1f1;
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F6E0BD;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fad394;
}


#year-container{
  /* display: flex; */
  flex-direction: column;
  font-family: 'Boutique',serif;
  font-size:5rem;
  position:absolute;
  top:40%;
}

#year-container{
  position:fixed;
  width: 100px;
  height: 1550px;
  margin:0;
  padding:0;
  overflow-y: auto;
  overflow-x: hidden;
}

#year-container > div {
  width: 100px;
  height: 100px;
  margin:90px 0;
}

#year-container{
  
  transform: rotate(-90deg);
  transform-origin: right top;
}

#year-container > div {
  transform: rotate(90deg);
  transform-origin: right top;
}

#year-container {
  transform:rotate(-90deg) translateY(-100px);
}

.twenty20-image{
  position:fixed;
  width:180px;
  height:100%;
  object-fit: cover;
  left:130px;
  top:0%;
  opacity: 0;
  z-index: -1;
  transition: .2s;
}

.twenty19-image{
  position:fixed;
  width:180px;
  height:100%;
  object-fit: cover;
  left:490px;
  top:0%;
  opacity: 0;
  z-index: -1;
  transition: .2s;
}

.twenty18-image{
  position:fixed;
  width:180px;
  height:100%;
  object-fit: cover;
  left:310px;
  top:0%;
  opacity: 0;
  z-index: -1;
  transition: .2s;
}

.twenty17-image{
  position:fixed;
  width:180px;
  height:100%;
  object-fit: cover;
  left:670px;
  top:0%;
  opacity: 0;
  z-index: -1;
  transition: .2s;
}

.twenty15-image{
  position:fixed;
  width:180px;
  height:100%;
  object-fit: cover;
  left:850px;
  top:0%;
  opacity: 0;
  z-index: -1;
  transition: .2s;
}

.twenty13-image{
  position:fixed;
  width:180px;
  height:100%;
  object-fit: cover;
  left:310px;
  top:0%;
  opacity: 0;
  z-index: -1;
  transition: .2s;
}

.twenty11-image{
  position:fixed;
  width:180px;
  height:100%;
  object-fit: cover;
  left:130px;
  top:0%;
  opacity: 0;
  z-index: -1;
  transition: .2s;
}

.twenty10-image{
  position:fixed;
  width:180px;
  height:100%;
  object-fit: cover;
  left:490px;
  top:0%;
  opacity: 0;
  z-index: -1;
  transition: .2s;
}

.twenty08-image{
  position:fixed;
  width:180px;
  height:100%;
  object-fit: cover;
  left:670px;
  top:0%;
  opacity: 0;
  z-index: -1;
  transition: .2s;
}

.twenty07-image{
  position:fixed;
  width:180px;
  height:100%;
  object-fit: cover;
  left:1030px;
  top:0%;
  opacity: 0;
  z-index: -1;
  transition: .2s;
}

.twenty06-image{
  position:fixed;
  width:180px;
  height:100%;
  object-fit: cover;
  left:490px;
  top:0%;
  opacity: 0;
  z-index: -1;
  transition: .2s;
}

.twenty05-image{
  position:fixed;
  width:180px;
  height:100%;
  object-fit: cover;
  left:1210px;
  top:0%;
  opacity: 0;
  z-index: -1;
  transition: .2s;
}

.twenty02-image{
  position:fixed;
  width:180px;
  height:100%;
  object-fit: cover;
  left:310px;
  top:0%;
  opacity: 0;
  z-index: -1;
  transition: .2s;
}

.twenty00-image{
  position:fixed;
  width:180px;
  height:100%;
  object-fit: cover;
  left:130px;
  top:0%;
  opacity: 0;
  z-index: -1;
  transition: .2s;
}

.nineteen90-image{
  position:fixed;
  width:180px;
  height:100%;
  object-fit: cover;
  left:490px;
  top:0%;
  opacity: 0;
  z-index: -1;
  transition: .2s;
}