@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@font-face {
    font-family: "Boutique";
    src: url("font/BoutiqueTRIAL-Regular.woff") format("woff");  
  }
  


body{
    background-color: #1E5056;
    color:#F6E0BD;
    font-family: 'Nunito', sans-serif;
    height:1040px;
}

ul{
  display: flex;
  font-size: 1.5rem;
  margin-top: 25px;
  /* space-evenly/space-between/space-around/center */
}

li{
  list-style: none;
}

.year-nav{
  position:fixed;
  left:13%;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  color:#F6E0BD;
}

.year-nav:hover{
  text-shadow: 2px 2px 1px #FF7676;
}

.location-nav{
  position:fixed;
  left:50%;
  transform: translateX(-50%);
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  color:#FF7676;

}

.scale-nav{
  position:fixed;
  color:#F6E0BD;
  left: 83%;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
}

.scale-nav:hover{
  text-shadow: 2px 2px 1px #FF7676;
}

h1{
  font-size: 1.5rem;
  font-family: 'Dancing Script', cursive;
  font-weight: 100;
  position:fixed;
  bottom:10px;
  left:50%;
  transform: translateX(-50%); 
  
}



.line1{
  position:fixed;
  background-color: #F6E0BD;
  width:1.5px;
  height:100%;
  z-index: 1;
  left:130px;
  top:0;
}

.line2{
  position:fixed;
  background-color: #F6E0BD;
  width:1.5px;
  height:100%;
  z-index: 1;
  left:310px;
  top:0;
}

.line3{
  position:fixed;
  background-color: #F6E0BD;
  width:1.5px;
  height:100%;
  z-index: 1;
  left:490px;
  top:0;
}

.line4{
  position:fixed;
  background-color: #F6E0BD;
  width:1.5px;
  height:100%;
  z-index: 1;
  left:670px;
  top:0;
}

.line5{
  position:fixed;
  background-color: #F6E0BD;
  width:1.5px;
  height:100%;
  z-index: 1;
  left:850px;
  top:0;
}

.line6{
  position:fixed;
  background-color: #F6E0BD;
  width:1.5px;
  height:100%;
  z-index: 1;
  left:1030px;
  top:0;
}

.line7{
  position:fixed;
  background-color: #F6E0BD;
  width:1.5px;
  height:100%;
  z-index: 1;
  left:1210px;
  top:0;
}

.line8{
  position:fixed;
  background-color: #F6E0BD;
  width:1.5px;
  height:100%;
  z-index: 1;
  left:1390px;
  top:0;
}

#location-container{
  font-family: 'Boutique',serif;
  font-size:4rem;
  color:#F6E0BD;
  text-decoration: none;
}

.location-name{
  color:#F6E0BD;
  text-decoration: none;
  z-index: 2;
}

#australia-nav{
  position:absolute;
  left:170px;
  top:80px;
}

#brazil-nav{
  position:absolute;
  left:1000px;
  top:160px;
}

#china-nav{
  position:absolute;
  left:400px;
  top:300px;
}

#italy-nav{
  position:absolute;
  left:800px;
  top:350px;
}

#japan-nav{
  position:absolute;
  left:1180px;
  top:450px;
}

#russia-nav{
  position:absolute;
  left:80px;
  top:520px;
}

#singapore-nav{
  position:absolute;
  left:500px;
  top:620px;
}

#southkorea-nav{
  position:absolute;
  left:900px;
  top:720px;
}

#uae-nav{
  position:absolute;
  left:340px;
  top:820px;
}

#usa-nav{
  position:absolute;
  left:830px;
  top:900px;
}

.location-name:hover{
  color:#FF7676;
}

.australia-image{
  position:fixed;
  width:180px;
  height:100%;
  object-fit: cover;
  left:670px;
  top:0%;
  opacity: 0;
  z-index: -1;
  transition: .2s;
}

.brazil-image{
  position:fixed;
  width:180px;
  height:100%;
  object-fit: cover;
  left:490px;
  top:0%;
  opacity: 0;
  z-index: -1;
  transition: .2s;
}

.china-image{
  position:fixed;
  width:180px;
  height:100%;
  object-fit: cover;
  left:130px;
  top:0%;
  opacity: 0;
  z-index: -1;
  transition: .2s;
}

.italy-image{
  position:fixed;
  width:180px;
  height:100%;
  object-fit: cover;
  left:1210px;
  top:0%;
  opacity: 0;
  z-index: -1;
  transition: .2s;
}

.japan-image{
  position:fixed;
  width:180px;
  height:100%;
  object-fit: cover;
  left:850px;
  top:0%;
  opacity: 0;
  z-index: -1;
  transition: .2s;
}

.russia-image{
  position:fixed;
  width:180px;
  height:100%;
  object-fit: cover;
  left:310px;
  top:0%;
  opacity: 0;
  z-index: -1;
  transition: .2s;
}

.singapore-image{
  position:fixed;
  width:180px;
  height:100%;
  object-fit: cover;
  left:130px;
  top:0%;
  opacity: 0;
  z-index: -1;
  transition: .2s;
}

.southkorea-image{
  position:fixed;
  width:180px;
  height:100%;
  object-fit: cover;
  left:490px;
  top:0%;
  opacity: 0;
  z-index: -1;
  transition: .2s;
}

.uae-image{
  position:fixed;
  width:180px;
  height:100%;
  object-fit: cover;
  left:670px;
  top:0%;
  opacity: 0;
  z-index: -1;
  transition: .2s;
}

.usa-image{
  position:fixed;
  width:180px;
  height:100%;
  object-fit: cover;
  left:1030px;
  top:0%;
  opacity: 0;
  z-index: -1;
  transition: .2s;
}

@media only screen and (max-width:400px){

  body{
    height:100%;
  }

  .image-container{
    display: none;
  }

  .line1{
    position:fixed;
    background-color: #F6E0BD;
    width:.5px;
    height:100%;
    z-index: -1;
    left:20px;
    top:0;
  }
  
  .line2{
    position:fixed;
    background-color: #F6E0BD;
    width:.5px;
    height:100%;
    z-index: -1;
    left:100px;
    top:0;
  }
  
  .line3{
    position:fixed;
    background-color: #F6E0BD;
    width:.5px;
    height:100%;
    z-index: -1;
    left:145px;
    top:0;
    display: none;
  }
  
  .line4{
    position:fixed;
    background-color: #F6E0BD;
    width:.5px;
    height:100%;
    z-index: -1;
    left:180px;
    top:0;
  }
  
  .line5{
    position:fixed;
    background-color: #F6E0BD;
    width:.5px;
    height:100%;
    z-index: -1;
    left:260px;
    top:0;
    
  }
  
  .line6{
    position:fixed;
    background-color: #F6E0BD;
    width:.5px;
    height:100%;
    z-index: -1;
    left:340px;
    top:0;
  }
  
  .line7{
      display: none;
  }
  
  .line8{
      display: none;
  }

  ul{
    display: flex;
    font-size: 1.2rem;
    margin-top: 15px;
  }

  .year-nav{
    position:fixed;
    left:5%;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    color:#F6E0BD;
    z-index: 1;
  }
  
  .location-nav{
    position:fixed;
    left:50%;
    transform: translateX(-50%);
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    color:#FF7676;
    z-index: 1;
  
  }
  
  .scale-nav{
    position:fixed;
    color:#F6E0BD;
    left: 83%;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    z-index: 1;
  }

  #location-container{
    font-size:2rem;
  }


  #australia-nav{
    position:absolute;
    left:20px;
    top:70px;
  }
  
  #brazil-nav{
    position:absolute;
    left:250px;
    top:110px;
  }
  
  #china-nav{
    position:absolute;
    left:120px;
    top:160px;
  }
  
  #italy-nav{
    position:absolute;
    left:260px;
    top:210px;
  }
  
  #japan-nav{
    position:absolute;
    left:30px;
    top:240px;
  }
  
  #russia-nav{
    position:absolute;
    left:80px;
    top:310px;
  }
  
  #singapore-nav{
    position:absolute;
    left:180px;
    top:370px;
  }
  
  #southkorea-nav{
    position:absolute;
    left:50px;
    top:440px;
  }
  
  #uae-nav{
    position:absolute;
    left:150px;
    top:510px;
  }
  
  #usa-nav{
    position:absolute;
    left:260px;
    top:560px;

}

h1{
  font-size: .8rem;
  left:50%;
}

}