@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@font-face {
  font-family: "Boutique";
  src: url("font/BoutiqueTRIAL-Regular.woff") format("woff");  
}


body{
  background-color: #81A0AD;
  color:#F6E0BD;
  font-family: 'Nunito', sans-serif;
  height:3000px;
}

h1{
font-size: 1.2rem;
font-family: 'Dancing Script', cursive;
font-weight: 100;
position:fixed;
top:7px;
letter-spacing: .4px;
left:50%;
transform: translateX(-50%);
color:#F9C0A0;
z-index: 2;
}

h3{
position:fixed;
font-size: 1.2rem;
font-family: 'Nunito', sans-serif;
text-align: center;
bottom:0px;
font-weight: 100;
letter-spacing: .4px;
left:50%;
transform: translateX(-50%);
color:#F9C0A0;
z-index: 2;
}

html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
}
#content {
  height: 100%;
}

.container{
  background-color: #486A7D;
  overflow: auto;
  box-sizing: border-box;
  padding: 0em;
  padding-top:0px;
  padding-bottom:0px;
  margin-top:0px;
  cursor:pointer;
  transition: 0.3s;
}

.container{
  position:fixed;
  width: 350px;
  height: 1200px;
  top:24%;
  left:0;
  padding-top:230px;
  overflow-y: auto;
  overflow-x: hidden;
}

.container > div {
  width: 17vw;
  height: 17vw;
  margin:50px 0 0 0;
}

.container{
  z-index: 2;
  transform: rotate(-90deg);
  transform-origin: right top;
}

.container > div {
  transform: rotate(90deg);
  transform-origin: right top;
}

.container {
  transform:rotate(-90deg) translateY(-180px);
}

.left-block{
  background-color: #486A7D;
  position:fixed;
  top:0px;
  left:0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* display: none; */
}

#right-detail{
  float: right;
  width: 0%;
  background: #81A0AD;
  height: 150%;
  overflow: auto;
  box-sizing: border-box;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f1f1f1;
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F6E0BD;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fad394;
}


.map-container{
  
  display: none;
}

/* .map-container{
opacity: 0;
} */



h2{
  font-size: 2rem;

  /* padding-top:100px; */
}

p{
  font-size: 1.5rem;
  /* padding-top:100px; */
}

.image-left{
  width:17vw;
  height:17vw;
  object-fit: cover;
  /* margin-left:16vw; */
  margin:0;
}

.arrow1{
  position:fixed;
  width:4vw;
  height:auto;
  margin-top:0px;
  top:47%;
  left:4vw;
  z-index: 2;
  transform: rotate(-90deg);
  }
  
  .arrow2{
  position:fixed;
  width:4vw;
  height:auto;
  top:47%;
  margin-top:0px;
  right:4vw;
  transform: rotate(-90deg);
  z-index: 2;
  }

.close-button{
  position:fixed;
  font-family: 'Nunito', sans-serif;
  font-size: 4rem;
  width:5vw;
  height:auto;
  top:130px;
  left:9vw;
  z-index: 2;
  display: none;
  cursor: pointer;
  }
  
  .close-button:hover{
    color:#8cc2ff;
  }

.line1{
display: block;
position:fixed;
width:100%;
height:1.5px;
top:60px;
background-color:#F9C0A0;
z-index: 2;
}

.line2{
display: block;
position:fixed;
width:100%;
height:2px;
bottom:60px;
background-color:#F9C0A0;
z-index: 2;
}



.detail-image-container img{
  height: auto;
  display: none;
}

.image-size-control1{
  background-color: #F6E0BD;
  position:fixed;
  top:18vw;
  right:9vw;
  width:1.9vw;
  height:1.9vw;
  display: none;
  cursor: pointer;
  z-index: 2;
  transition: .1s;
}

.image-size-control1 span{
  margin-left:42px;
  color:#F6E0BD;
  font-family: 'Nunito', sans-serif;
  font-size: 1.5em;
}



.image-size-control2{
  background-color: #F6E0BD;
  position:fixed;
  top:23vw;
  right:9vw;
  width:1.9vw;
  height:1.9vw;
  display: none;
  cursor: pointer;
  z-index: 2;
  transition: .1s;
}

.image-size-control2 span{
  margin-left:40px;
  color:#F6E0BD;
  font-family: 'Nunito', sans-serif;
  font-size: 1.5em;
}


.image-size-control3{
  background-color: #F6E0BD;
  position:fixed;
  top:28vw;
  right:9vw;
  width:1.9vw;
  height:1.9vw;
  display: none;
  cursor: pointer;
  z-index: 2;
  transition: .1s;
}

.image-size-control3 span{
  margin-left:44px;
  color:#F6E0BD;
  font-family: 'Nunito', sans-serif;
  font-size: 1.5em;
}



.image-container{
  position:absolute;
  width:400px;
  height:400px;
  object-fit:cover;
  overflow: hidden;
  left:45%;
  top:25%;
  display: none;
  transition: 0.3s;
}

.image-right {
  position:relative;
  display: none;
  object-fit:cover;
  width:100%;
  height:100%;
  z-index: 2;
  /* position:fixed; */
  /* width:350px; */
  /* transition-property: width; */
  /* left:50%;
  top:23%; */
}



.location{
  display: none;
  
  position:absolute;
  font-family: "Nunito",sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
  color:#F9C0A0;
  left:9%;
  top:48%;
  width:30vw;
  z-index: 2;
}


.location-brief{
  display: none;
  position:absolute;
  font-family: "Boutique",serif;
  font-size: 5rem;
  color:#F6E0BD;
  left:9%;
  top:17%;
  cursor:pointer;
  z-index: 2;
}



.year{
  display: none;
  position:absolute;
  font-family: "Nunito",sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
  color:#F9C0A0;
  left:9%;
  top:38%;
  z-index: 2;
}



.functions{
  display: none;
  position:absolute;
  font-family: "Nunito",sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
  color:#F9C0A0;
  width:20vw;
  left:9%;
  top:52%;
  line-height: 2vw;
  z-index: 2;
}


.scale{
  display: none;
  position:absolute;
  font-family: "Nunito",sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
  color:#F9C0A0;
  left:9%;
  top:43%;
  z-index: 2;
}

#back-nav{
    font-family: 'Boutique',serif;
    font-size: 2rem;
    position:fixed;
    bottom:5vw;
    right:5vw;
    text-decoration: none;
    color:#F6E0BD;
}

#back-nav:hover{
    color:#FF7676;
}

@media only screen and (max-width:420px){

  ::-webkit-scrollbar {
    width: 0px;
  }

  body{
    height:100%;
  }

  .container{
    width:200px;
    height:500px;
    margin-top:90px;
    margin-left:80px;
    z-index: 4;
  }

  
  .left-block{
    top:0;
    left:0;
    width: 100%;
    height: 100%;
  }
  
  #right-detail{
    float: left;
    width: 0%;
    height: 0%;
    padding: 0em;
    z-index: -1;
  }

  h1{
    font-size: 1rem;
    left:50%;
    z-index: 2;
    }
    
    h3{
    font-size: 1rem;
    left:50%;
    z-index: 2;
    }

    .image-left{
      width:35vw;
      height:35vw;
      margin-top:0px;
    }
    
    .arrow1{
    width:10vw;
    top:60px;
    left:160px;
    }
    
    .arrow2{
    width:10vw;
    bottom:60px;
    left:160px;
    }

    .close-button{
      font-size: 3.2rem;
      top:45px;
      left:12vw;
      }
      
      .line1{
      height:.5px;
      top:50px;
      }
      
      .line2{
      height:.5px;
      bottom:50px;
      }
      
      .image-size-control1, .image-size-control2, .image-size-control3{
        opacity: 0;
        width:0;
      }
       
      .image-container{
        width:300px;
        height:260px;
        left:30px;
        top:180px;
        z-index: 2;
      }
    
      .location{
        font-size: 1.1rem;
        left:12vw;
        top:440px;
        width:300px;
      }
      
      
      .location-brief{
        font-size: 3.5rem;
        left:12vw;
        top:50px;
      }
      
      
      .year{
        font-size: 1.1rem;
        left:12vw;
        top:460px;
      }
      
      
      
      .functions{
        font-size: 1.1rem;
        width:300px;
        left:12vw;
        top:517px;
        line-height: 5vw;
      }
      
      
      .scale{
        font-size: 1.1rem;
        left:12vw;
        top:485px;
      }
      
      #back-nav{
          font-size: 1.3rem;
          bottom:18vw;
          right:5vw;
          z-index: 2;
      }
}