/* Just to make the demo easier to work with. */

:root {
	--spacing: 1em;
}



body {
	/* font-family: 'Times New Roman', Times, serif; */
	font-family: 'Lora', serif;
	font-size:13px;
	font-weight: bold;
	background-color: #15252d;
    color: white;
}

h1, h2 {
	font-weight:normal;
	/* text-align:center; */
}

#collection {
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
}

.gray {
	background-color:#c5c5c5;
}

.black {
	background-color:black;
	color:white;
}

.cinnamon {
	background-color:#af402c;
}

.indifferent {
	border: 2px dashed;
}

.dot-container{
	display: flex;
	position: fixed;
	left: 0;
	top: 0;
}

.activity-title{
	position: absolute;
	left: 2rem;
	top: 2rem;
	color: white;
	font-size: 1rem;
	display: none;
}

.dot-container:hover .activity-title{
	display: block;
}

img{
	width: 17vw;
}

.text-formatting{
	/* font-family: 'Times New Roman', Times, serif; */
	font-size: 15px;
	font-weight: 100;
	line-height: 23px;
	top:20px;
	position: absolute;
}

.showItem{
	top:0;
}
